* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

table {
  width: 40%;
  border-collapse: collapse;
  margin-top: 50px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}